@model SupBusiness.Models.SiteMaster
@{
    ViewData["Title"] = "SiteMasterList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row page-titles">
    <div class="col-md-12 col-12 align-self-center d-flex justify-content-between">
        <h4 class="page-title mb-0">Sector Master List</h4>
    </div>
</div>

<div class="content">
    <div class="page-inner">
        @*<div class="page-header">
        <h4 class="page-title">Sector Master List</h4>
        @if (PermissionManager.IsActionPermit("Sector Master", ViewOptions.FormSave))
        {
        <a href="/Master/SectorMaster" class="btn btn-primary btn-round ml-auto" style="flood-color:white;"><i class="fa fa-plus"></i>Add Sector</a>
        }
        </div>*@
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>

                                <tr class="hdr">
                                    <th>S. No.</th>
                                    <th>Site Name</th>
                                    <th>Create Date</th>

                                    <th align="left" scope="col">Action</th>

                                </tr>

                            </thead>

                            <tbody>

                                @if (Model != null && Model.dtDetails != null && Model.dtDetails.Rows.Count > 0)
                                {
                                    int s = 0;
                                    for (int i = 0; i < Model.dtDetails.Rows.Count; i++)
                                    {
                                        <tr>
                                            <td>@(s + 1)</td>
                                            <td>@Model.dtDetails.Rows[i]["SiteName"].ToString()</td>
                                            @*  <td>@Model.dtDetails.Rows[i]["TaskDetails"].ToString()</td>
                                    <td>@Model.dtDetails.Rows[i]["status"].ToString()</td>*@
                                            <td>@Model.dtDetails.Rows[i]["AddedOn"].ToString()</td>
                                            <td>
                                                <a href="/Admin/AddUserTask" title="Add Task" class="btn btn-primary  btn-sm text-white">Add Task</a>
                                                <a href="/Admin/SiteMaster?editId=@Model.dtDetails.Rows[i]["Pk_Id"].ToString()" title="Edit" class="btn btn-warning btn-sm">Edit</a>
                                                <a href="/Admin/SiteMaster?Id=@Model.dtDetails.Rows[i]["Pk_Id"].ToString()" class="btn btn-danger btn-sm text-white" title="Delete">Delete</a>
                                            </td>
                                        </tr>
                                        s++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5"> No Record found !!</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

</div>

