@model SupBusiness.Models.MemberRegistration
@{
    ViewData["Title"] = "UserRegistrationList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row page-titles">
    <div class="col-md-12 col-12 align-self-center d-flex justify-content-between">
        <h4 class="page-title mb-0">User  List</h4>
        <span class="text-danger">@TempData["Message"]</span>
        
        <a href="/Admin/Dashboard" class="btn btn-primary btn-sm">

            Back
        </a>
    </div>
</div>

<div class="content">
    <div class="page-inner">
      
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>

                                <tr class="hdr">
                                    <th>S.No.</th>
                                    <th>Login Id</th>
                                    <th>Password</th>
                                    <th>Name</th>
                                    <th>Mobile Number</th>
                                    <th>Create Date</th>

                                    <th align="left" scope="col">Action</th>

                                </tr>

                            </thead>

                            <tbody>

                                @if (Model != null && Model.dtDetails != null && Model.dtDetails.Rows.Count > 0)
                                {
                                    int s = 0;
                                    for (int i = 0; i < Model.dtDetails.Rows.Count; i++)
                                    {
                                        <tr>
                                            <td>@(s + 1)</td>
                                            <td>@Model.dtDetails.Rows[i]["LoginId"].ToString()</td>
                                            <td>@Model.dtDetails.Rows[i]["Password"].ToString()</td>
                                            <td>@Model.dtDetails.Rows[i]["Name"].ToString()</td>
                                            <td>@Model.dtDetails.Rows[i]["MobileNo"].ToString()</td>
                                            <td>@Model.dtDetails.Rows[i]["AddedOn"].ToString()</td>
                                            <td>
                                                <a href="/Admin/UserRegistration?Id=@Model.dtDetails.Rows[i]["Pk_Id"].ToString()" title="Edit" class="btn btn-warning btn-sm">Edit</a>
                                                <a href="/Admin/UserRegistration?delid=@Model.dtDetails.Rows[i]["Pk_Id"].ToString()" class="btn btn-danger btn-sm" title="Delete">Delete</a>
                                            </td>
                                        </tr>
                                        s++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5"> No Record found !!</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>